/* -------------------main-section----------------- */

.main-section {
    position: relative;
    padding: 94px 0 0 0;
    overflow: hidden;

    &::before,
    &::after {
        content:'';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);    
        width: 1800px;
        height: 365px;
        border-radius: 50%;
        
        @include media('<tablet_s') {
            width: 916px;
            height: 186px;
        }
    }

    &::before {
        bottom: -183px;
        background: $dark_red_gradient_radial;
        z-index: -1;

        @include media('<tablet_s') {
            bottom: -80px;
            z-index: 1;
        }
    }

    &::after {
        bottom: -275px;
        background: $black;
        z-index: 2;

        @include media('<tablet_s') {
            bottom: -135px;
        }
    }

    .text-wrap {
        max-width: 800px;
        margin: 0 auto 26px auto;
    }

    .main-title {
        margin-bottom: 38px;
    }

    .text {
        text-align: center;
    }

    .img {
        display: block;
        width: 100%;
        max-width: 1164px;
        margin: 0 auto;
    }
}

/* -------------------stats-section----------------- */

.stats-section {

    .content {
        position: relative;
        padding: 400px 0;

        @include media('<desktop') {
            padding: 50px 0;
        }
    }

    .main-title {
        margin-bottom: 0;

        @include media('<desktop') {
            margin-bottom: 44px;
        }

        @include media('<phone') {
            font-size: 32px;
        }
    }

    .block {
        display: flex;
        gap: 24px;
        scrollbar-width: none;

        @include media('<desktop') {
            overflow: auto;
            margin: 0 -40px;
            padding: 0 40px;
        }
    }

    .item {
        position: absolute;
        width: 100%;
        max-width: 345px;
        padding: 40px 25px;
        background: #9420070D;
        border-radius: 32px;
        text-align: center;
        box-shadow: $box-shadow;
        backdrop-filter: blur(5px);

        @include media('<desktop') {
            position: relative;
            padding: 25px 17px;
            min-width: 225px;
        }

        &:first-child {
            top: 60px;
            left: 80px;

            @include media('<desktop') {
                top: 0;
                left: 0;
            }
        }

        &:nth-child(2) {
            top: 45%;
            right: 0;
            transform: translateY(-55%); 
            
            @include media('<desktop') {
                top: 0;
                right: 0;
                transform: none;
            }
        }

        &:last-child {
            bottom: 60px;
            left: 30%;

            @include media('<desktop') {
                bottom: 0;
                left: 0;
            }
        }
    }

    .img-wrap {
        margin-bottom: 38px;

        img {
            @include media('<desktop') {
                height: 65px;
            }
        }
    }

    .item-title {
        margin-bottom: 8px;
        font: $semi-bold 40px/1 $Fontspring;

        @include media('<desktop') {
            font-size: 30px;
        }

        @include media('<phone') {
            font-size: 26px;
        }

        span {
            font-family: $Gilroy;
        }
    }

    .item-text {
        margin: 0;
        font: $regular 20px/1.3 $Gilroy;
        opacity: 0.7;

        @include media('<phone') {
            font-size: 13px;
        }
    }
}

/* ------------------fantasy-section---------------- */

.fantasy-section {
    position: relative;
    padding: 250px 0 134px 0;

    @include media('<tablet') {
        padding: 450px 0 0 0;
    }

    @include media('<phone') {
        padding: 250px 0 0 0;
    }

    &::before {
        content:'';
        position: absolute;
        width: 100%;
        height: 70%;
        left: 0;
        bottom: 0;
        background: linear-gradient(179.16deg, rgba(18, 18, 18, 0) 10.87%, #121212 64.51%);
        z-index: 1;

        @include media('<tablet') {
            bottom: 176px;
        }
    }

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;

        @include media('<tablet') {
            max-width: 600px;
        }

        @include media('<phone') {
            max-width: 350px;
        }
    }

    .img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 1146px;
        z-index: 1;

        @include media('<desktop') {
            max-width: 700px;
        }

        @include media('<tablet') {
            bottom: 176px;
            max-width: 500px;
        }

        @include media('<phone') {
            max-width: 425px;
        }
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 777px;

        @include media('<desktop') {
            gap: 600px;
        }

        @include media('<tablet') {
            gap: 400px;
        }

        @include media('<phone') {
            gap: 300px;
        }
    }

    .box {
        max-width: 520px;
        padding: 32px;
        background: #9420070D;
        border-radius: 32px;
        box-shadow: $box-shadow;
        backdrop-filter: blur(5px);

        @include media('<tablet') {
            text-align: center;
        }

        &:first-child {
            align-self: flex-end;

            @include media('<tablet') {
                background: none;
                border-radius: 0;
                box-shadow: none;
                backdrop-filter: none;
                align-self: center;
            }
        }

        &:last-child {

            @include media('<tablet') {
                max-width: 100%;
            }

            .text {

                @include media('<tablet') {
                    max-width: 100%;
                    opacity: 0.7;
                }
            }
        }

    }

    .box-title {
        font: $semi-bold 40px/1 $Fontspring;
        letter-spacing: -0.03em;
        color: $white;

        @include media('<tablet') {
            background-image: $white_gradient;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            -webkit-box-decoration-break: clone;
            font-weight: $bold;
        }
    }
}

/* --------------------time-section------------------ */

.time-section {
    padding: 100px 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .text {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
    }

    .item {
        text-align: center;
    }

    .img-wrap {
        margin-bottom: 20px;
    }

    .main-title {
        margin: 0;
        font-size: 60px;

        @include media('<tablet') {
            font-size: 38px;
        }

        @include media('<phone') {
            font-size: 24px;
        }
    }
}

/* --------------------less-section------------------ */

.less-section {
    position: relative;
    padding: 100px 0 150px 0;

    @include media('<tablet') {
        padding: 100px 0 50px 0;
    }

    .grad {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        &::before,
        &::after {
            content:'';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            filter: blur(110px);
        }

        &::before {
            width: 890px;
            height: 680px;
            background: $red_gradient_radial;
            z-index: -2;

            @include media('<phone') {
                width: 500px;
                height: 500px;
            }
        }

        &::after {
            width: 645px;
            height: 490px;
            background: $orange_gradient_radial;
            z-index: -1;

            @include media('<phone') {
                width: 300px;
                height: 300px;
            }
        }
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 72px;
    }

    .main-img {
        max-width: 300px;

        @include media('<tablet') {
            max-width: 240px;
        }

        @include media('<phone') {
            max-width: 180px;
        }
    }

    .img {
        position: absolute;
        bottom: 80px;
        left: -200px;
        max-width: 250px;
        z-index: -1;

        @include media('<tablet') {
            max-width: 190px;
            left: -150px;
        }

        @include media('<phone') {
            max-width: 110px;
            left: -85px;
        }
    }

    .text-wrap {
        text-align: center;
        max-width: 837px;
        margin: 0 auto 96px auto;

        @include media('<tablet') {
            margin: 0 auto 73px auto;
        }
    }

    .title {
        margin-bottom: 46px;
    }

    .list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        padding: 0;
        margin: 0;
        list-style: none;

        @include media('<tablet') {
            gap: 8px;
        }
    }

    .list-item {
        position: relative;
        max-width: 350px;
        padding: 30px;
        background: #9420070D;
        box-shadow: $box-shadow-red;
        backdrop-filter: blur(2px);
        border-radius: 32px;
        text-align: start;
        font: $regular 26px/1.6 $Gilroy;
        color: $white;
        letter-spacing: -0.03em;

        @include media('<widescreen_s') {
            width: 30%;
            font-size: 20px;
        }

        @include media('<desktop') {
            padding: 10px;
            border-radius: 10px;
        }

        @include media('<tablet') {
            font-size: 10px;
        }

        &:nth-child(2) {
            max-width: 300px;
            top: -18px;
        }

        &:nth-child(3) {
            max-width: 370px;
            top: 40px;

            @include media('<tablet') {
                top: 10px;
            }
        }

        &.mid {
            position: absolute;
            width: 100%;
            max-width: 460px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            padding: 44px;
            font-size: 38px;

            @include media('<widescreen_s') {
                font-size: 28px;
            }

            @include media('<desktop') {
                padding: 14px;
            }

            @include media('<tablet') {
                font-size: 12px;
            }

            @include media('<tablet') {
                max-width: 140px;
            }
        }

        &:nth-child(5) {
            left: -40px;

            @include media('<tablet') {
                left: -18px;
            }
        }

        &:nth-child(6) {
            top: 75px;

            @include media('<tablet') {
                top: 20px;
            }
        }

        &:nth-child(7) {
            max-width: 300px;
            top: 40px;

            @include media('<tablet') {
                top: 20px;
            }
        }
    }

    &.miss-section {

        .img {
            top: 10%;
            left: auto;
            right: -215px;

            @include media('<tablet') {
                max-width: 190px;
                right: -150px;
            }

            @include media('<phone') {
                max-width: 110px;
                right: -85px;
            }
        }

        .icon-img {
            position: absolute;
            top: 60%;
            left: -95%;
            z-index: -1;

            @include media('<phone') {
                min-width: 102vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .last-img {
            display: block;
            width: 100%;
            max-width: 1024px;
            margin: 0 auto;
        }
    }

    &.questions-section {

        .img {
            z-index: 1;

            @include media('<phone') {
                max-width: 200px;
                top: -5%;
                left: -85px;
            }
        }
        
        .text-wrap {
            max-width: 1100px;
        }

        .title {
            margin-bottom: 140px;

            @include media('<tablet') {
                margin-bottom: 44px;
            }
        }
    }
}

/* ---------------------how-section------------------ */

.how-section{
    padding: 200px 0;

    @include media('<tablet') {
        padding: 50px 0;
    }

    .title {
        text-align: center;
        margin-bottom: 70px;

        @include media('<tablet') {
            margin-bottom: 40px;
        }
    }

    .block {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        margin: 0 -40px;
        padding: 0 40px;

        @include media('<tablet_x') {
            overflow: auto;
            scrollbar-width: none;
        }
    }

    .item {
        width: 100%;
        max-width: 326px;
        background: #9420070D;
        box-shadow: $box-shadow-gray;
        border-radius: 32px;
        padding: 32px;

        @include media('<tablet_x') {
            min-width: 300px;
        }

        @include media('<phone') {
            padding: 24px;
            text-align: center;
        }
    }

    .img-wrap {
        margin-bottom: 20px;
    }

    .item-title {
        margin-bottom: 10px;
        font: $bold 18px/1.4 $Fontspring;
        color: $white;
        text-transform: uppercase;

        @include media('<phone') {
            font-size: 24px;
            letter-spacing: -0.03em;
        }
    }

    .item-text {
        margin: 0;
        font: $regular 18px/1.4 $Gilroy;
        color: $light_gray;

        @include media('<phone') {
            font-size: 14px;
        }
    }
}

/* -------------------sources-section---------------- */

.sources-section {
    padding: 100px 0 180px 0;

    @include media('<tablet') {
        padding: 50px 0;
    }

    .content {
        display: flex;
        justify-content: space-between;
        row-gap: 44px;
        column-gap: 20px;

        @include media('<desktop') {
            align-items: center;
            flex-direction: column;
        }
    }

    .img-title {
        text-align: center;
        font: $regular 42px/1.4 $Gilroy;
        color: $white;
        margin: 0;

        @include media('<tablet') {
            font-size: 26px;
        }
    }

    .img-wrap {
        width: 100%;
        max-width: 650px;
    }

    .block {
        width: 100%;
        max-width: 480px;

        @include media('<desktop') {
            text-align: center;
        }
    }

    .title {
        margin-bottom: 40px;
    }

    .text {
        margin: 0;
    }

    .box {
        margin-top: 40px;
        padding: 24px 32px;
        background: #205A5E0A;
        border-radius: 19px;
        box-shadow: $box-shadow-gray;
    }

    .box-title {
        margin-bottom: 8px;
        background-image: $white_gradient;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
        font: $bold 18px/1.4 $Fontspring;
        text-transform: uppercase;
    }

    &.back-section {

        .content {

            @include media('<desktop') {
                flex-direction: column-reverse;
            }
        }

        .img-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .img {
            max-width: 340px;

            @include media('<tablet') {
                max-width: 210px;
            }
        }

        .block {
            max-width: 550px;
        }
    }
}