/* -------------------main-section----------------- */

.main-section {
    position: relative;
    padding: 94px 0 0 0;
    overflow: hidden;

    &::before,
    &::after {
        content:'';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);    
        width: 1800px;
        height: 365px;
        border-radius: 50%;
        
        @include media('<tablet_s') {
            width: 916px;
            height: 186px;
        }
    }

    &::before {
        bottom: -183px;
        background: $dark_red_gradient_radial;
        z-index: -1;

        @include media('<tablet_s') {
            bottom: -80px;
            z-index: 1;
        }
    }

    &::after {
        bottom: -275px;
        background: $black;
        z-index: 2;

        @include media('<tablet_s') {
            bottom: -135px;
        }
    }

    .text-wrap {
        max-width: 800px;
        margin: 0 auto 26px auto;
    }

    .main-title {
        margin-bottom: 38px;
    }

    .img {
        display: block;
        width: 100%;
        max-width: 1164px;
        margin: 0 auto;
    }
}

/* -------------------stats-section----------------- */

.stats-section {

    .content {
        position: relative;
        padding: 400px 0;

        @include media('<desktop') {
            padding: 50px 0;
        }
    }

    .main-title {
        margin-bottom: 0;

        @include media('<desktop') {
            margin-bottom: 44px;
        }

        @include media('<phone') {
            font-size: 32px;
        }
    }

    .block {
        display: flex;
        gap: 24px;
        scrollbar-width: none;

        @include media('<desktop') {
            overflow: auto;
            margin: 0 -40px;
            padding: 0 40px;
        }
    }

    .item {
        position: absolute;
        width: 100%;
        max-width: 345px;
        padding: 40px 25px;
        background: #9420070D;
        border-radius: 32px;
        text-align: center;
        box-shadow: $box-shadow;
        backdrop-filter: blur(5px);

        @include media('<desktop') {
            position: relative;
            padding: 25px 17px;
            min-width: 225px;
        }

        &:first-child {
            top: 60px;
            left: 80px;

            @include media('<desktop') {
                top: 0;
                left: 0;
            }
        }

        &:nth-child(2) {
            top: 45%;
            right: 0;
            transform: translateY(-55%); 
            
            @include media('<desktop') {
                top: 0;
                right: 0;
                transform: none;
            }
        }

        &:last-child {
            bottom: 60px;
            left: 30%;

            @include media('<desktop') {
                bottom: 0;
                left: 0;
            }
        }
    }

    .img-wrap {
        margin-bottom: 38px;

        img {
            @include media('<desktop') {
                height: 65px;
            }
        }
    }

    .item-title {
        margin-bottom: 8px;
        font: $semi-bold 40px/1 $Fontspring;

        @include media('<desktop') {
            font-size: 30px;
        }

        @include media('<phone') {
            font-size: 26px;
        }

        span {
            font-family: $Gilroy;
        }
    }

    .item-text {
        margin: 0;
        font: $regular 20px/1.3 $Gilroy;
        opacity: 0.7;

        @include media('<phone') {
            font-size: 13px;
        }
    }
}