<footer class="footer">
    <div class="container">
        <div class="content">
            <div class="top">
                <a class="logo-wrap" href="#">
                    <img class="logo" src="./images/icons/logo.svg" alt="logo">
                </a>
                <div class="box">
                    <div class="socials-wrap">
                        <h3 class="box-title">Get in touch</h3>
                        <div class="socials">
                            <a class="socials-link" href="#" target="_blank">
                                <img src="./images/icons/icon-in.svg" alt="icon-in">
                            </a>
                            <a class="socials-link" href="#" target="_blank">
                                <img src="./images/icons/icon-x.svg" alt="icon-x">
                            </a>
                            <button class="socials-link popup-contact-btn">
                                <img src="./images/icons/icon-mail.svg" alt="icon-mail">
                            </button>
                        </div>
                        <a class="link" href="mailto:support@fantabase.app">support@fantabase.app</a>
                    </div>
                    <nav class="menu-wrap">
                        <h3 class="box-title">Menu</h3>
                        <ul class="menu">
                            <li class="menu-item">
                                <a class="link" href="#how">How it works</a>
                            </li>
                            <li class="menu-item">
                                <a class="link" href="#personalized">Features</a>
                            </li>
                            <li class="menu-item">
                                <a class="link" href="#testimonials">Testimonials</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="bot">
                <div class="links">
                    <a class="bot-text link" href="#" target="_blank">Terms & Conditions</a>
                    <a class="bot-text link" href="#" target="_blank">Privacy Policy</a>
                    <p class="bot-text">© 2025 Fantabase. All rights reserved</p>
                </div>
                <h2 class="title">FANTABASE</h2>
            </div>
        </div>
    </div>
</footer>