<div class="overflow"></div>
<header class="header">
    <div class="container">
        <div class="content">
            <a class="logo" href="#">
                <picture>
                    <source srcset="./images/icons/logo-mob.svg" media="(max-width: 601px)" />
                    <img src="./images/icons/logo.svg" alt="logo" />
                </picture>
            </a>
            <nav class="menu-wrap">
                <a class="menu-logo link-close" href="#">
                    <img src="./images/icons/logo.svg" alt="logo">
                </a>
                <ul class="menu">
                    <li class="menu-item">
                        <a class="link link-close" href="#how">How it works</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#personalized">Features</a>
                    </li>
                    <li class="menu-item">
                        <a class="link link-close" href="#testimonials">Testimonials</a>
                    </li>
                </ul>
                <a class="main-btn link-close" href="#">Join the waitlist</a>
            </nav>
            <div class="logo hide"></div>
            <button class="burger"><span></span></button>
        </div>
    </div>
</header>