<div class="popup popup-contact">
    <div class="container">
        <button class="popup-close"><img src="./images/icons/icon-close.svg" alt="icon-close"></button>
        <h2 class="main-title">Contact Us</h2>
        <p class="text">Whether it’s feedback or support — drop us a line and we’ll get back to you</p>
        <div class="block">
            <div class="contact-form-wrap">
                <form action="#">
                    <div class="input-wrap">
                        <input class="input" type="text" placeholder="Last Name">
                    </div>
                    <div class="input-wrap">
                        <input class="input" type="text" placeholder="First Name">
                    </div>
                    <div class="input-wrap">
                        <input class="input" type="email" placeholder="Email">
                    </div>
                    <div class="input-wrap">
                        <input class="input" type="text" placeholder="Phone Number">
                    </div>
                    <div class="input-wrap">
                        <textarea class="input" placeholder="Message"></textarea>
                    </div>
                    <input class="main-btn" type="submit" value="Send it to the end zone">
                </form>
            </div>
            <div class="img-wrap">
                <img src="./images/contact-img.webp" alt="img">
            </div>
        </div>
    </div>
</div>