<nav class="side-bar">
    <ul class="side-bar-menu">
        <li class="side-bar-item">
            <a class="side-bar-link" href="#personalized">
                <div class="side-bar-icon-wrap">
                    <img class="side-bar-icon" src="./images/icons/icon-side-bar1.svg" alt="icon">
                </div>
                <span class="side-bar-title">Personalized Feed</span>
            </a>
        </li>
        <li class="side-bar-item">
            <a class="side-bar-link" href="#watchlist">
                <div class="side-bar-icon-wrap">
                    <img class="side-bar-icon" src="./images/icons/icon-side-bar2.svg" alt="icon">
                </div>
                <span class="side-bar-title">Watchlist & Alerts</span>
            </a>
        </li>
        <li class="side-bar-item">
            <a class="side-bar-link" href="#wowie">
                <div class="side-bar-icon-wrap">
                    <img class="side-bar-icon" src="./images/icons/icon-side-bar3.svg" alt="icon">
                </div>
                <span class="side-bar-title">Howie Wynn</span>
            </a>
        </li>
    </ul>
</nav>