@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Fontspring";
    src: url("../fonts/Fontspring-DEMO-integralcf-denibold.otf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Fontspring";
    src: url("../fonts/Fontspring-DEMO-integralcf-bold.otf");
    font-style: normal;
    font-weight: 700;
}